# Dependencies
/node_modules

# Data
/data

# Build artifacts
/public/style.css

# Environment variables
.env

.gemini/

exported_messages.md

exported_messages/

exported_messages_individual/

.claude/

MessageID.txt
qdrant_data/
