# Dependencies
/node_modules

# Data
/data

# Build artifacts
/public/style.css

# Environment variables
.env

.gemini/

exported_messages.md

exported_messages/

exported_messages_individual/

.claude/

MessageID.txt
qdrant_data/
.antigravitycli/e049cb6b-45e6-4034-9dda-c2d5131b4dab.json
